$white: #f9ffff;

@import "bootstrap/scss/bootstrap";

.navbar {
    background-color: black;
}

.jumbotron {
    //background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); 
    background: grey;
    background-image: url(../../inspiration/cc/15362604233_MichaelWong_ws2.png);
    background-size: cover;
    min-height: 300px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.bg { 

}