
@import 'mdb-ui-kit/css/mdb.min.css';

$white: #f9ffff;
$enable-negative-margins: true;

.btn-primary {
    background-color: #09244D;
}

.form-check-input[type=checkbox]:checked {
    background-color: #09244D;
}

.form-check-input:checked {
    background-color: #09244D;
}

.form-check-input:focus {
    border-color: #09244D;
}

// @import "bootstrap/scss/bootstrap"; MDB is sufficient

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('../img/pro_office.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* NOTE: REMOVING RESOLVED FULL SIZING ON MOBILE AND APPEARANCE OF NAV TOGGLE
/* "@media (min-width: 992px) {" */
@media (min-width: 400px) {
    #introCarousel {
        margin-top: -20.59px;
    }

    #introCarousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item.active {
        height: 50vh;
    }
}

.navbar .nav-link {
    color: #fff !important;
}




/* If we lose nav-bar transparency, try to bring the styles in the sheet to troubleshoot. */
.bg-blue {
    background-color: #09244D;
}

